@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<address>
    <h3><b>Item Store</b></h3><br />
    Skellefteå, Sweden<br />
    <abbr title="Phone">Phone:</abbr>
    999-9999999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@ItemStore.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@ItemStore.com</a>
</address>